language: android
jdk:
  - oraclejdk8
android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-28.0.2
    - build-tools-27.0.3
    - android-28
    - extra-android-support
    - extra-android-m2repository
before_install:
- chmod +x gradlew
- chmod +rx app
skip_cleanup: true
script:
- ./gradlew clean build
- export CI=true
- export CI_NAME=travis-ci
- ./gradlew jacocoTestReport coveralls
